
 <div class="inner-content">
	<div class="study-guides-interior">
		<div class="title-container">
			<div class="col-small-left left-menu">
				<h3>Contents</h3>
				<ul>
					<hr>
					<div class="expand-container-outer">
						<div class="expander">
							<span class="caret downCaret right visibleCaret">+</span>
							<li class="category">Plot<a href="http://www.sparknotes.com/lit/gatsby/summary.html"></a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/shakespeare/test/summary.html">Plot Overview</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/shakespeare/test/analysis.html">Plot Analysis</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander target expanded">
							<span class="caret downCaret right visibleCaret reversedCaret">+</span>
							<li class="darkest">Summary &amp; Analysis</li>
							<li class="indented darkest" style="display: block;">Chapter 1</li>
							<li class="indented" style="display: block;"><a href="http://www.sparknotes.com/lit/gatsby/section2.rhtml" class="moreLiAs">Chapter 2</a></li>
							<li class="indented" style="display: block;"><a href="http://www.sparknotes.com/lit/gatsby/section3.rhtml" class="moreLiAs">Chapter 3</a></li>
							<li class="indented" style="display: block;"><a href="http://www.sparknotes.com/lit/gatsby/section4.rhtml" class="moreLiAs">Chapter 4</a></li>
							<ul class="expander indented more" style="display: block; padding-top: 0;">
									<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/section5.rhtml" class="moreLiAs">Chapter 5</a></li>
									<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/section6.rhtml" class="moreLiAs">Chapter 6</a></li>
									<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/section7.rhtml" class="moreLiAs">Chapter 7</a></li>
									<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/section8.rhtml" class="moreLiAs">Chapter 8</a></li>
									<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/section9.rhtml" class="moreLiAs">Chapter 9</a></li>
									<span class="caret moreCaret visibleLessCaret right">+</span>
									<li class="sub-expander less sub-expander--indented">More</li>
							</ul>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander">
							<li class="category"><a class="category" href="http://www.sparknotes.com/lit/gatsby/context.html">Context &amp; Background</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander"> <span class="caret downCaret right visibleCaret">+</span>
							<li class="category">Themes &amp; Ideas</li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/themes1.rhtml">Themes: The Decline of the American Dream in the 1920s</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/themes2.rhtml">Themes: The Hollowness of the Upper Class</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/motifs1.rhtml">Motifs: Geography</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/motifs2.rhtml">Motifs: Weather</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/symbols1.rhtml">Symbols: The Green Light</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/symbols2.rhtml">Symbols: The Valley of Ashes</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/symbols3.rhtml">Symbols: The Eyes of Doctor T. J. Eckleburg</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander"><span class="caret downCaret right visibleCaret">+</span>
							<li class="category">Characters</li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/characters.html">Character List</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/character/jay-gatsby/">Jay Gatsby</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/character/nick-carraway/">Nick Carraway</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/character/daisy-buchanan/">Daisy Buchanan</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander">
							<li><a class="category" href="http://www.sparknotes.com/lit/gatsby/quotes.html">Quotes</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander">
							<li><a class="category" href="http://www.sparknotes.com/lit/gatsby/quickquizhub.html">Quizzes</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander">
							<li><a class="category" href="http://www.sparknotes.com/lit/gatsby/facts.html">Key Facts</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander"><span class="caret downCaret right visibleCaret">+</span>
							<li class="category">Writing Help</li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/studyquestions.html">Study Questions</a></li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/essaytopics.html">Suggested Essay Topics</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander">
							<span class="caret downCaret right visibleCaret">+</span>
							<li class="category">Resources</li>
							<li class="indented" style="display: none;"><a href="http://www.sparknotes.com/lit/gatsby/bibliography.html">Suggestion for Further Reading</a></li>
						</div>
					</div>
					<hr>
					<div class="expand-container-outer">
						<div class="expander">
							<li><a class="category" href="http://www.sparknotes.com/lit/gatsby/citing.html">How to Cite This SparkNote</a></li>
						</div>
					</div>
					<hr>
				</ul>
			</div>
		</div>
	</div>
 </div>
